@model IEnumerable<Mulakat_Takip.Models.PanelOperations>

@{
    ViewData["Title"] = "Index";
}

<h1>Admin Anasayfa</h1>
<a asp-controller="Users" asp-action="Login"> Login</a>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.PanelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PanelSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PanelDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PanelFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PanelStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PanelDefinition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PanelPostDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PanelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PanelSurname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PanelDate)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.PanelFile)*@
                    <a asp-controller="UserPanel" asp-action="Download" asp-route-id="@item.Panelid">@item.PanelFile</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PanelStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PanelDefinition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PanelPostDate)
                </td>
                <td>
                    <a asp-action="Confirmation" asp-route-id="@item.Panelid">Onayla</a> |
                    <a asp-action="Details" asp-route-id="@item.Panelid">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Panelid">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
